# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
.venv/
env/
venv/

# IDE
.vscode/
.idea/

# Streamlit secrets and environment files
.streamlit/secrets.toml
.env

# OS files
.DS_Store
Thumbs.db
